.workGrid {
    align-items: center;
    position: relative;
}
li {
  float: left;
  padding: 15px 15px;
}
li a {
  color: #e5e6e8;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: center;
  font-size: 30px;
  overflow: hidden;
background-color: #f05a2e;
color: #f8f9fd;
}
li a:hover {
  background-color: #e5e6e8;
  color:#213775;
}
.redBlock {
  display: inline-block;
  background-color: gray;
  padding: 50px;
  color:white;
  font-family: arial;
}
.flexContainer {
    align-items: center;
    display: flex;
    position: relative;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }